[user]
	name = yanmo
	email = 67538999+yanmoyy@users.noreply.github.com 
[init]
	defaultbranch = main
[pager]
	log = false
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
